/* Global styles */


:root {
  /* ------------- Colors ------------- */
  --color-brand-raspberry-lch: lch(46.096% 56.044 17.8deg);
  --color-brand-raspberry--light-lch: lch(96.096% 16.044 17.8deg);
  --color-brand-raspberry-rgb: rgb(73.19% 29.64% 52.87%);
  --color-brand-navy-lch: lch(25.363% 25.271 261.816deg);
  --color-brand-navy--light-lch: lch(90.363% 10.271 261.816deg);
  --color-brand-navy-rgb: rgb(0% 25.26% 27.74%);
  --color-brand-yellow-lch: lch(89.042% 33.118 88.975deg);
  --color-brand-yellow-rgb: rgb(94.9% 87.06% 62.75%);
  --color-brand-navy-black: lch(20.363% 0 261.816deg);
  --color-brand-navy-black-rgb: rgb(23.57% 23.57% 23.57%);
  
  --unit: 1rem;

  /* ------------- Shadows ------------- */
  --shadow-color: 0deg 0% 54%;
  --shadow-elevation-low: -0.4px 0.8px 1px hsl(var(--shadow-color) / 0.32),
    -0.6px 1.3px 1.6px -1.2px hsl(var(--shadow-color) / 0.32),
    -1.4px 3.1px 3.8px -2.5px hsl(var(--shadow-color) / 0.32);
  --shadow-elevation-medium: -0.4px 0.8px 1px hsl(var(--shadow-color) / 0.33),
    -1.2px 2.6px 3.2px -0.8px hsl(var(--shadow-color) / 0.33),
    -2.9px 6.4px 7.9px -1.7px hsl(var(--shadow-color) / 0.33),
    -7px 15.5px 19.1px -2.5px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-high: -0.4px 0.8px 1px hsl(var(--shadow-color) / 0.35),
    -2.2px 5px 6.1px -0.4px hsl(var(--shadow-color) / 0.35),
    -4.4px 9.6px 11.9px -0.8px hsl(var(--shadow-color) / 0.35),
    -7.6px 16.8px 20.7px -1.2px hsl(var(--shadow-color) / 0.35),
    -13px 28.6px 35.3px -1.7px hsl(var(--shadow-color) / 0.35),
    -21.3px 47px 58.1px -2.1px hsl(var(--shadow-color) / 0.35),
    -33.5px 74.1px 91.5px -2.5px hsl(var(--shadow-color) / 0.35);

  /* --font-body: MuseoSans, sans-serif;
  --font-heading: Museo, serif; */
  /* --font-body: Konnect, sans-serif;
  --font-heading: var(--font-body), serif; */
  --font-body: "fanwood", Georgia, serif;
  --font-heading: "League Spartan Variable", sans-serif;
}

body {
  // background-image: url("../../ricepaper2.png");
  // font-family: var(--font-body);
  font-family: var(--font-heading);
  
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


main {
  font-size: clamp(16px, calc(-1rem + 4vw), 21px);
  line-height: 1.4;
  color: var(--color-brand-navy-black-rgb);
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(
      var(--color-brand-navy-lch),
      var(--color-brand-navy-black)
    );
  }
  main {
    color: white;
  }
  aside picture {
    filter: grayscale(100%);
  }
}