@mixin grid {
	display: grid;
	grid-column-gap: var(--unit);
}

.grid-2col {
	@include grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

main {
	margin-block-start: 4rem;
	max-width: 1080px;
	margin-inline: auto;
	padding-inline: var(--unit);
	display: grid;
	grid-gap: var(--unit);
	position: relative;
	z-index: 2;
}
header {
	margin-bottom: 1rem;
	grid-area: header;
}
aside {
	// height: 400px;
	text-align: center;
	transform: translateY(20px);
	margin-block-end: -20px;
	// overflow: hidden;
	// display: grid;
	// grid-gap: var(--unit);
	img {
		max-height: 70vh;
		margin-block-start: 1rem;
	}
	
}

.button {
	padding: calc(var(--unit)*0.75) var(--unit) calc(var(--unit) * 0.5);
	border-radius: 6px;
	width: auto;
	border: solid 2px var(--color-brand-raspberry-lch);
	transition: all 0.25s;
	&:hover {
		background-color: var(--color-brand-raspberry-lch);
		// color: black;
	}
}



section {
	padding-top: 1rem;
}
.card {
	margin-block-end: var(--unit);
}

@media only screen and (width > 800px) {
	main {
		grid-template-areas: "header header"
												"article aside"
												"footer footer";                    
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto 1fr;
	}

	aside {
		grid-area: aside;
		position: sticky;
		bottom: 0;
		height: auto;
		/* right: 0; */
		// picture {
		// 	align-self: bottom;
		// }
	}
}
// .house-of-cards {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
// 	grid-gap: 1rem;
// 	grid-area: main;
// }