
@font-face {
	font-family: "League Spartan Variable";
	font-weight: 400 600;
	src: url("../../typefaces/LeagueSpartan-VF.woff2") format("woff2-variations");
}

@font-face {
	font-family: "fanwood";
	font-weight: normal;
	font-style: normal;
	src: url("../../typefaces/fanwood_text-webfont.woff") format("woff");
}

@font-face {
	font-family: "fanwood";
	font-weight: normal;
	font-style: italic;
	src: url("../../typefaces/fanwood_text_italic-webfont.woff") format("woff");
}

/* 
	@font-face {
		font-family: Museo;
		font-weight: normal;
		src: url("../../museo500.woff2") format("woff2");
	}
	@font-face {
		font-family: Museo;
		font-weight: bold;
		src: url("../../museo700.woff2") format("woff2");
	}
	@font-face {
		font-family: MuseoSans;
		font-weight: normal;
		src: url("../../museosans-500.woff2") format("woff2");
	}
	@font-face {
		font-family: MuseoSans;
		font-weight: normal;
		font-style: oblique;
		src: url("../../museosansitalic-500.woff2") format("woff2");
	}
	
	@font-face {
		font-family: Konnect;
		font-weight: normal;
		src: url("../../konnect-regular.woff2") format("woff2");
	}
	@font-face {
		font-family: Konnect;
		font-weight: bold;
		src: url("../../konnect-bold.woff2") format("woff2");
	}
	@font-face {
		font-family: Konnect;
		font-weight: normal;
		font-style: oblique;
		src: url("../../konnect-italic.woff2") format("woff2");
	} 
*/

h1,
h2,
h3 {
	font-family: var(--font-heading);
	font-variation-settings: "wght" 600;
}

h2 {
	font-size: clamp(20px, calc(4vw + 1rem), 30px);
	line-height: 1.2;
	margin-bottom: 0.25rem;
}

h3 {
	font-size: clamp(18px, calc(4vw + 0.5rem), 20px);
}
h4 {
	letter-spacing: -1px;
}

strong,
h3,
h4 {
	// font-weight: bold;
	font-variation-settings: "wght" 700;
}

small {
	font-size: 75%;
}

ul,
ol {
	margin-left: 1.125rem;
	list-style-type: square;
	margin-top: 0.25rem;
}
li {
	font-family: var(--font-heading);
	padding-left: 0;
	text-indent: -0.25rem;
	line-height: 1.2;
	margin-block-end: 0.5rem;
}

details p {
	margin-left: 1rem;
}