---
import Layout from '../layouts/layout.astro';
import Card from '../components/card.astro';
---

<Layout>
	<h1>Here's my content.</h1>
	<Card sectionTitle="Experience">
		<p>Set prop for 2-column, 3-column, other settings.</p>
		<ul>
			<li>content</li>
			<li>content</li>
			<li>content</li>
		</ul>	
	</Card>
	<Card sectionTitle="Experience">
		<p>Set prop for 2-column, 3-column, other settings.</p>
		<ul>
			<li>content</li>
			<li>content</li>
			<li>content</li>
		</ul>	
	</Card>
</Layout>