---
const {sectionTitle, content} = Astro.props;
const { class: card } = Astro.props;
---
<style>
	h2 {
		border-bottom: solid 3px var(--color-brand-raspberry-lch, var(--color-brand-raspberry-rgb));
		margin-bottom: 0.5rem;
	}
	.card {
	  /* border: solid 1px var(--color-brand-navy-black-rgb); */
	  background-color: white;
	  box-shadow: var(--shadow-elevation-medium);
	  padding: 1rem;
	  border-radius: 8px;
	  transform: scale(1.0);
	  transition-property: transform, box-shadow;
	  transition-timing-function: ease;
	  transition-duration: 0.25s;
	  font-size: 0.825rem;
	}
	.card:hover {
	  transform: scale(1.025);
	  box-shadow: var(--shadow-elevation-high);
	  cursor: crosshair;
  	}
</style>

<section class="card">
	<h2>{sectionTitle}</h2>
	<slot />	
</section>