---
// Mega
---
<style>
	.stark {
		color: var(--color-brand-navy-lch);
	}
	.multicolored {
		background: linear-gradient(
			to right, 
			var(--color-brand-raspberry-lch), 
			var(--color-brand-yellow-lch)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-block-start: 1rem; /* Why is this needed? */
	}
	.mega, .champion {
		text-transform: uppercase;
	}
	
	.mega {
		font-size: clamp(2rem, 5rem + 4vw, 8rem);
		line-height: 80%;
		letter-spacing: -5%;
		font-variation-settings: "wght" 900;
	}
	.champion {
		font-size: clamp(3rem, 2rem + 1vw, 4rem);
		line-height: 2.5rem;
		letter-spacing: -3%;
		text-indent: clamp(0.75rem, 1vw, 1rem);
		font-variation-settings: "wght" 300;
		color: var(--color-brand-raspberry-lch);
		/* color: var(--color-brand-navy-dark); */
	}
	.yellow {
		color: var(--color-brand-yellow-lch);
	}
	.red {
		color: var(--color-brand-raspberry-lch);
	}
	.dark {
		color: var(--color-brand-navy-lch);
	}
</style>

<h1 class="stark">
	<div class="mega">Chris</div>
	<div class="mega">Weiser</div>
	<div class="champion">Designer <span class="dark">+</span> Developer</div>
</h1>