---
import "the-new-css-reset/css/reset.css"
/* import "simpledotcss/simple.min.css" (too opinionated) */
import '../styles/global.css';
---

<style>
  body {
    margin: 1rem;
    margin-top: 4rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    margin-bottom: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  section {
    padding-top: 1rem;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Chris Weiser's resume</title>
  </head>
  <body>
    <header><h1>Chris Weiser's Resume</h1></header>
    <main><slot /><!-- Content slots in here here --></main>
  </body>
</html>
