---
import "the-new-css-reset/css/reset.css"
/* import "simpledotcss/simple.min.css" (too opinionated) */
import '../styles/main.css';
import { site_title } from '../config';
import Waves from '../components/waves.astro';
---

<style>
  main {
    margin: 1rem;
    margin-top: 4rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "header header"
                        "article aside"
                        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
  }
  header {
    margin-bottom: 1rem;
    grid-area: header;
  }
  aside {
    grid-area: aside;
    position: sticky;
    bottom: 0;
    /* right: 0; */
    picture {
      align-self: bottom;
    }
  }
  section {
    padding-top: 1rem;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Chris Weiser's Online Resume</title>
  </head>
  <body> 
    <main>
      <article>
        <slot /><!-- Content slots in here here -->
      </article>
      <aside>
        <picture width="300">
          <source 
            srcset="/images/chris-weiser-full-cutout-300.svg" 
            media="(orientation: portrait)" 
          />
          <img src="/images/chris-weiser-full-cutout-300.svg" alt="vanity shot" />
        </picture>
      </aside>
    </main>
    <Waves />
  </body>
</html>
