---
import "the-new-css-reset/css/reset.css"
import '../styles/main.css';
import { site_title } from '../config';
import Waves from '../components/waves.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Chris Weiser's Online Resume</title>
  </head>
  <body> 
    <main>
      <article>
        <slot /><!-- Content slots in here here -->
      </article>
      <aside>
        <a href="mailto:chrisweiser@pm.me" class="button">✉️&nbsp;&nbsp;Email me!</a>
        <picture width="300">
          <source 
            srcset="/images/chris-weiser-full-cutout-300.svg" 
            media="(orientation: portrait)" 
          />
          <img src="/images/chris-weiser-full-cutout-300.svg" alt="vanity shot" />
        </picture>
      </aside>
    </main>
    <Waves />
  </body>
</html>
